.bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    height: 6%;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    background-color: transparent;
  }
  
  .bar_black {
    background-color:black;
  }
  
  .netflix_logo {
    width: 8%;
    position: fixed;
    left: 2;
    object-fit: contain;
    background-color: transparent;
  }
  
  .avatar {
    width: 2%;
    position: fixed;
    right: 0;
    margin-right: 2%;
    object-fit: contain;
  }
  